.embla-title {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
  color: var(--text);
  margin-top: 30px ;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 50%;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  background-color: #111113;
}
.content::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 46px;
  background-image: linear-gradient(90deg, #111113, transparent);
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.content::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 46px;
  background-image: linear-gradient(-90deg, #111113, transparent);
  z-index: 9;
  border-radius: 0 10px 10px 0;
}
.basic-marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.basic-marquee .word-pill {
  transition: all 0.3s ease;
}
.basic-marquee .word-pill:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.basic-marquee-1 {
  animation: marquee 5s linear infinite;
}
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-width: 900px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  inset: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.word-pill {
  background: linear-gradient(90deg, #FF3D00, #FF6A2B, #FF8C42, #FF6A2B, #FF3D00);  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 3s ease infinite;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  padding: 0 20px;
}
