.side-bar {
  margin-left: 30px;
  background-color: var(--bg);
  width: 15%;
  height: 87%;
  border-radius: 10px;
  margin-top: 20px;

}
.top-title {
  display: flex;
  gap: 5px;
  padding: 20px;

}
.top-title h2 {
  color: var(--text);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
}
.top-title svg {
  color: var(--text);
  height: 15px;
}

@media (max-width: 1024px) {
  .side-bar {
    display: none;
  }
 }