.external-side-bar {
  height: 90%;
  width: auto;
  position: absolute;
  left: 0px;
  top: 30px;
}
.external-side-bar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.external-side-bar ul li {
  padding: 5px 10px;
 
}

.external-side-bar ul li:first-child {
  background-color: rgba(44, 49, 58, 0.535);
  border-radius: 5px;
}
.external-side-bar ul li svg {
  width: 30px;
  color: var(--text);
  opacity: 0.8;
  transition: 0.3s;
}
.external-side-bar ul li:hover svg{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}



.container-top-bar {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-menu ul, .top-bar-nav ul  {
  display: flex;
  gap: 10px;
}


.top-bar-menu ul li, .top-bar-nav ul li {
  color: var(--text);
  font-size: 12px;
  opacity: 0.8;
  cursor: pointer;
}

.top-bar-menu ul li:hover, .top-bar-nav ul li:hover {
  opacity: 1;
}