@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #c3c5cb;
  --text-h: #08060d;
  --bg: #111113;
  --body: #08060d;

  --sans: 'Space Grotesk', ui-sans-serif, sans-serif;
  --mono: 'JetBrains Mono', ui-monospace, monospace;;

  --active-bg: rgba(44, 49, 58, 0.535);
  --active-text: var(--text);
}  
body {
  background-color: var(--body);
  font-family: var(--mono);
  position: relative;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
          
    50% {
      background-position: 100% 50%;
    }
        
    100%{
      background-position: 0% 50%;
    }
}
  
      
    